.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}
.grouping::before,
.grouping::after {
  content: ' ';
  display: table;
}
.grouping::after {
  clear: both;
}
.clearFix {
  display: flow-root;
}
